body {
  background-color: #f8f8f8;
  font-family: 'Merriweather', serif;
  color: black;
  line-height: 30px;
  text-align: center;
}

h1, h2 {
  color: black;
  line-height: 30px;
  font-size: 20px;
}

.container {
  background-color: #E2E2E2;
}

.card {
  background-color: white;
  border: 5px solid #D8891B;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  background-color: #fff;
  padding: 10px;

}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.btn-blue {
  background-color: #D8891B;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn-blue:hover {
    background-color: #D36900;
}

.social-buttons {
    background-color: #D8891B;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.social-buttons:hover {
    background-color: #D36900;
}

li {
    display: inline-block;
    margin: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
